* {
    padding: 0;
    margin: 0;
}

html, body, .pantalla  {
    height: 100%;
}

body {
    font-family: sans-serif;
}

#error {
    background-color: antiquewhite;
    border: 1px solid #800000;
    color: #800000;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.mensajes {
    height: 300px;
    overflow: auto;
}

.pantalla {

}

#login {
    background-color: #019AD2;
}

    #distance {
        float: left;
        height: 50%;
        margin-bottom: -4em;
        width: 1px;
    }
    #login_form {
        clear: left;
        display: block;
        float: left;
        min-height: 1em;
        position: relative;
        width: 100%;
    }
    #login_form ul {
        list-style-type: none;
    }
    #login_form li,
    #login_form label {
        float: left;
    }
    #login_form li {
        clear: left;
        padding: 4px 0;
        width: 530px;
}
    #login_form label {
        width: 6em;
    }
    #login_form label,
    #login_form input,
    #login_form button {
        font-size: 2em;
    }
    #login_form input {
        float: right;
        width: 10em;
    }
    #login_form li.botones button {
        float: right;
    }
    #login_form form {
        display: table;
        margin: 0 auto;
        width: auto;
    }
    .nickname {
        font-weight: bold;
    }
    #version {
        bottom: 4px;
        font-size: 11px;
        position: absolute;
        right: 10px;
    }

.chat p {
    white-space: pre;
}

#mesa {

}
    #area_juego {
        background-color: papayawhip;
        float: left;
        height: 350px;
        width: 600px;
    }

    #area_juego ol {
        list-style-type: none;
    }
    #area_juego li {
        float: left;
        padding: 0 1%;
        width: 48%;
    }
    #area_juego .equipo.a {
        text-align: right;
    }
    #area_juego .equipo.b {
        text-align: left;
    }
    #area_juego .equipo a {
        cursor: pointer;
    }
